[2017-11-01 02:42] CColten opened #1 "when will you open the code ?"
I have a research on the lane detection , and do some work about it , could you open your code, that i can do some test on it , thank you !

[2017-11-02 00:53] BAILOOL commented on #1
@CColten Thank you for your interest in the paper. Interestingly, the authors ( @SeokjuLee ) of the paper have arrived home from ICCV yesterday - still jet lagging. We will start on cleaning and publishing code asap!

[2017-11-02 03:22] CColten commented on #1
Thanks for your reply！

[2017-11-03 09:59] SeokjuLee commented on #1
@CColten Sorry to answer late. Our code is being reviewed by Samsung Electronics. The company is undergoing a merger and restructuring, which is delaying work.

[2017-11-19 12:13] sunpeng1996 opened #2 "DataSet"
I am looking forward to meet the dataset. But I don't understand the grid-level annotations, what means?

[2017-11-20 00:32] BAILOOL commented on #2
@sunpeng1996 , Usually the segmentation is performed pixel-wise, meaning that every pixel has a specific class. In this paper, we have utilized grid-wise annotation which is simply a group of pixels in a grid cell. Specifically, the grid cell size is 8x8 pixels. Thus, the segmentation is performed on grid cells rather than individual pixels.

Regarding the dataset, please check Readme file ("Datas

[2017-11-20 13:58] hexiangquan commented on #2
how about speed  fps? did you run it on jetson tx1  tx2

发自我的 iPhone

[2017-11-20 14:07] SeokjuLee commented on #2
@hexiangquan The forward pass time for whole networks (4-task: grid, objectness, multi-label, vpp) is about 30ms on a single Titan X.

[2017-11-22 11:09] wsz1029 commented on #2
Sorry, Sir. I can't send the email to sjlee@rcv.kaist.ac.kr. There is the problem that

 Could not connect to SMTP host: 143.248.39.8, port: 25;
  nested exception is:
	java.net.ConnectException: Connection timed out

I want to apply for the dataset.  What materials should I provide? Where and how can I answer the dataset questions?

I am looking forward your reply.

Best wishse.

[2017-11-22 11:11] wsz1029 commented on #2
Sorry, Sir. I can't send the email to sjlee@rcv.kaist.ac.kr. There is a problem that

Could not connect to SMTP host: 143.248.39.8, port: 25;
nested exception is:
java.net.ConnectException: Connection timed out

I want to apply for the dataset. What materials should I provide? Where and how can I answer the dataset questions?

I am looking forward to your reply.

Best wishes.

[2017-11-22 11:28] SeokjuLee commented on #2
@wsz1029 Sorry for the mail problem. Our lab server is attacked and currently repairing.. The dataset is preserved by Samsung. Please contact Tae-Hee Lee (th810.lee@samsung.com), Hyun Seok Hong (hyunseok76.hong@samsung.com), and Seung-Hoon Han (luoes.han@samsung.com).

[2017-11-24 08:21] daixiaogang commented on #2
@BAILOOL ,how did you do the grid-wise annotation?How long it takes to annotation one picture?

[2017-11-24 08:53] BAILOOL commented on #2
@daixiaogang, the detailed explanation about "Data Collection and Annotation" is provided in Section 3.1 in the [paper](https://arxiv.org/pdf/1710.06288.pdf). Simply speaking, you mark corner points of lane and road markings to form a closed polygon. This closed region (when it is filled) is essentially the same as the pixel-wise annotation (traditional annotation of segmentation datasets). Furthe

[2017-11-24 09:02] daixiaogang commented on #2
@BAILOOL ,thanks for your explanation. In your project，different lane is regarded as a object? And the datasets will not be open?

[2017-11-24 14:11] SeokjuLee commented on #2
@daixiaogang Could you explain the meaning of 'different lane as a object'? Each lane and road marking has different shape, so they are hard to defined by a single box (rectangle). That's the main reason why we use the grid annotation. Specifically, we define each object by a list of grids, such as [(x1 y1 x1' y1' c1), (x2 y2 x2' y2' c2), ...] where {x,y,x',y'} localize the position of each grid a

[2017-11-25 07:58] xumi13 commented on #2
Is the output of  grid box in  VPGNet used for lane detection?

[2017-11-25 09:08] SeokjuLee commented on #2
@xumi13 We didn't use the grids for the lane detection. We elaborated the post-processing of lane detection in our paper :)

[2017-11-27 10:12] daixiaogang commented on #2
@SeokjuLee ,I am sorry,my English is very poor,thanks for your explanation.

[2017-11-29 05:55] qinghuizhao commented on #2
Could you explain the meaning of  “Vanishing Point”？is there no public datasets？

[2017-11-30 07:27] SeokjuLee commented on #2
@qinghuizhao Hello, the geometric meaning of a vanishing point is a point where parallel lines in a three-dimensional space converge to a two-dimensional plane by a graphical perspective. In our work, we define our "Vanishing Point (VP)" as the nearest point on the horizon where lanes converge and disappear predictively around the farthest point of the visible lane. You can see some examples of ou

[2017-12-14 11:59] gexahedron commented on #2
What are the news about dataset?

[2017-12-15 08:09] SeokjuLee commented on #2
@gexahedron Sorry for the delay in publishing our dataset. We keep asking Samsung to publish dataset, and hope to be released soon.

[2017-12-19 12:28] KeplerCV commented on #2
@SeokjuLee can u please tell me the details of train_list.txt and test_list.txt in make_lmdb.sh?

[2017-12-19 14:03] SeokjuLee commented on #2
@KeplerCV The list files can be generated by 'caltech-lanes-dataset/vpg_annot_v1.m'. The format should be [Img path] [num. of grids] [x_1 y_1 x'_1 y'_1] ... [x_n y_n x'_n' y'_n] line by line. There is also a visualizing part (commented) for better understanding. Because at this moment, our dataset is being reviewed by Samsung, so we provide a baseline network that doesn't need VP annotations.

[2017-12-19 14:51] daixiaogang commented on #2
@SeokjuLee ,I have run caltech-lanes-dataset/vpg_annot_v1.m and get four *.txt file which is your label ,can I use this to train your network? Do you have the pretrained model?

[2017-12-19 15:38] SeokjuLee commented on #2
@daixiaogang Yes, converted list files are for the toy example that how we trained the VPGNet. You can train with them (after LMDB parsing), but they are small sets so the performance is not guaranteed. It is best to finetune, but for the pretrained model and dataset, we need to get a permission from Samsung. The reason I share this provisional code is that they are delaying the permissions..

[2017-12-19 15:54] daixiaogang commented on #2
thanks very much ! But when I compile your caffe ,there exisit some problem:
ted-gpu-targets to suppress warning).
CXX .build_release/src/caffe/proto/caffe.pb.cc
In file included from ./include/caffe/layer.hpp:8:0,
                 from src/caffe/layer_factory.cpp:8:
./include/caffe/blob.hpp:9:34: fatal error: caffe/proto/caffe.pb.h: 没有那个文件或目录
compilation terminated.
Makefile:524: recipe for targe

[2017-12-19 15:54] daixiaogang commented on #2
@SeokjuLee thanks very much ! But when I compile your caffe ,there exisit some problem:
ted-gpu-targets to suppress warning).
CXX .build_release/src/caffe/proto/caffe.pb.cc
In file included from ./include/caffe/layer.hpp:8:0,
from src/caffe/layer_factory.cpp:8:
./include/caffe/blob.hpp:9:34: fatal error: caffe/proto/caffe.pb.h: 没有那个文件或目录
compilation terminated.
Makefile:524: recipe for target '.bu

[2017-12-19 17:51] daixiaogang commented on #2
@SeokjuLee I have compile your caffe correctly but when I run ./make_lmdb.sh , it got wrong.
-------------------------------------------------error---------------------------------------------------------------------------
E1220 00:53:49.100962 25549 convert_driving_data.cpp:145] Total to be processed: 0.
F1220 00:53:49.260869 25553 compute_driving_mean.cpp:66] Check failed: mdb_cursor_get(mdb_cur

[2017-12-20 04:29] qinghuizhao commented on #2
can u please share  some train pictures?

[2017-12-20 05:53] SeokjuLee commented on #2
@daixiaogang This issue is caused by the path of list file. please try "../../build/tools/convert_driving_data /home/swjtu/daixiaogang/VPGNet/caltech-lanes-dataset /home/swjtu/daixiaogang/VPGNet/caltech-lanes-dataset/cordova1.txt LMDB_train" after delete the previous LMDB files.

[2017-12-20 05:55] SeokjuLee opened #3 "Code issues"
Please ask installation, training and test issues in this panel.

[2017-12-20 05:58] daixiaogang commented on #2
@SeokjuLee ,I have solve this problem and run the code with caltech-lanes datasets. If I used may dataset which only label the right and left boundary with (x1,y1,x1',y1'),(x2,y2,x2',y2'),what should I do to make label to run on your code?

[2017-12-20 06:01] daixiaogang commented on #2
@SeokjuLee ,your caffe is run on CPU mode? your makefile.config have comment USECUDNN=1.

[2017-12-20 06:17] SeokjuLee commented on #2
@daixiaogang In this case, you need to change your annotation format same as Caltech to VPGNet annotation method. Please refer our matlab code 'vpg_annot_v1.m' to make grid annotations. It would be easy to follow with our visualization lines. About the CUDNN option, we trained on GPU mode, but not used cudnn.

[2017-12-20 06:18] SeokjuLee commented on #2
Please leave code/training questions in the CODE ISSUES pannel (the 3rd one).

[2017-12-20 07:09] CSUMIT commented on #3
Hello. There always something wrong when i download "Lee_VPGNet_Vanishing_Point_ICCV_2017_supplemental.pdf" from the internet, could you send a new pdf to me ? Thank you very much!

[2017-12-20 07:35] SeokjuLee commented on #3
@CSUMIT Oh, our supplemental file is not pdf format. It's just a video clip and here is the link :)
https://www.youtube.com/watch?v=jnewRlt6UbI

[2017-12-20 07:48] CSUMIT commented on #3
![default](https://user-images.githubusercontent.com/24970082/34196308-86c5c424-e59c-11e7-8310-b991a5e0aaef.PNG)
Oh, it is a supplemental that i find in : [http://openaccess.thecvf.com/ICCV2017.py](url). The supplemental of your paper.

[2017-12-20 08:07] SeokjuLee commented on #3
@CSUMIT I uploaded a video file but the organizer seems to have changed the file to pdf format. You may ignore that link.

[2017-12-20 08:10] CSUMIT commented on #3
OK, thank you very much.

[2017-12-20 10:49] daixiaogang commented on #3
@SeokjuLee ,when I run train.sh ,it got wrong at 2500 iteration
------------------------------------------------------------------------------------------------------------------------------------
I1220 14:47:21.014974   402 solver.cpp:449] Snapshotting to binary proto file ./snapshots/split_iter_2500.caffemodel
F1220 14:47:23.816285   402 io.cpp:67] Check failed: proto.SerializeToOstream(&output)

[2017-12-20 11:22] SeokjuLee commented on #3
@daixiaogang Yes, please try it again after making ./snapshots.

[2017-12-20 12:11] SeokjuLee commented on #2
@qinghuizhao The training curve depends on how you've arranged the dataset. I uploaded one example code, 'outputs/sj_show_plot.py'. Please refer it.

[2017-12-21 02:52] daixiaogang commented on #3
@SeokjuLee ，I have trained your  network with caltech-lane dataset  correctly.After about 14 hours ,it iterates 30000,but when I plot the test and train loss log,it looks strange. The training loos converge by iteration but the test loss first increase and then unchanged.I did not change any of your configuration,should I make some change? As the dataset is small. (For training, cordova1 ,cordova2

[2017-12-21 03:18] weitaoatvison opened #4 "Hi, I have some problem with your post process for the lane detection."
Hi, I found in your paper you declared your algorithm speed could achieve to 20Fps, so I am confused whether the speed you declared is just the speed of the network inference time or with the post process included clustering and curve fitting? If it is with the post-process, could you  share your post process code? Thanks for your good job!

[2017-12-21 06:14] SeokjuLee commented on #3
@daixiaogang It is normal for the validation accuracy to rise sharply in the beginning and not change significantly afterwards. This is because the size of the object to be inferred is much smaller than the background area. If you expand the validation curve, you can see that it is increasing slightly.

[2017-12-21 06:26] SeokjuLee commented on #4
@weitaoatvison Hi, the algorithm speed, 20fps, includes both forward-pass and post-processing time. Specifically, the single forward pass takes about 30ms (on single Titan X) and the post-processing takes about 20ms or less. For the post-processing code, we need to get an additional permission from Samsung Research.. (T_T) I recommend you to re-implement it following our post-processing part (exce

[2017-12-21 07:27] cfzd commented on #3
Is there any trained model that can be used for test ?

[2017-12-21 07:53] weitaoatvison commented on #4
OK, Thanks for your reply. I have done a simillar work  but the post-processing time is too large, so I am interested in your post-processing code.  HaHa~

[2017-12-21 12:58] SeokjuLee commented on #3
@cfzd Here is an unofficial weight. Please refer this link :>
https://drive.google.com/open?id=1MBi3G5cL1FJGkESHpRiAbMVediUTULXL

[2017-12-21 13:11] SeokjuLee commented on #4
@weitaoatvison Here are some helpful libraries and functions, which are fast. Please refer them.
Lane-seed-sampling: https://github.com/MonsieurV/py-findpeaks
IPM: https://docs.opencv.org/2.4/modules/core/doc/operations_on_arrays.html#perspectivetransform

[2017-12-21 13:37] daixiaogang commented on #3
@SeokjuLee ,I want to transfer my label which likes(x1,y1,x1',y1'),(x2,y2,x2',y2').My picture is 1280x1024 which different from yours 640x480,can you give me some advice on how transfer labels ? Or just change the width and height parameter in your vpg_annot_v1.m?

[2017-12-21 14:37] daixiaogang commented on #3
@SeokjuLee ,because my label only have two points(x1,y1,x1',y1'),can not call the function ccvEvalBezSpline() in vpg_annot_v1.m.,so it got wrong. Do we must make spline first to make bouding box? can you give me some advice?

[2017-12-22 05:41] SeokjuLee commented on #3
@daixiaogang First, you should decide which input size to use, 640x480 or 1280x1024. If you want to use the latter one, please check the intermediate activation sizes after the branches. Basically the network is full convolutional so various sizes are applicable, but there might need some parameter tunings. Second, Is your label contains only two end points that represent one straight line for eac

[2017-12-22 06:40] daixiaogang commented on #3
@SeokjuLee ,Thanks for your explaination，I have make the label like yours. I want to know more about your parameters to make anonation,such as gridsize(8) and thickness(2),should these parameters make some change to fit my picture?

[2017-12-22 06:55] daixiaogang commented on #3
@SeokjuLee ,I have trained your net witch caltech-lane dataset.I want to konw how to test my results or output the cordinate(x1,y1,x2,y2...) of lanes, can you give me some advice?

[2017-12-22 07:00] SeokjuLee commented on #3
@daixiaogang Well, you should better not to change grid size (8) because that parameter depends on the rescaling factor between input (640x480) and output (multi-label:80x60) size. The thickness depends on the lane width. If the grid annotation covers the lane markings enough, I don't think you need to change it.

[2017-12-25 09:21] weitaoatvison commented on #4
@SeokjuLee Thanks very much! In our implementation, we use an IPM we implement by our-self. And I am  wonder that how to use https://github.com/MonsieurV/py-findpeaks to do lane-seed-sampling?  I find this code is used to do peak detection.

[2017-12-25 10:34] daixiaogang commented on #3
@SeokjuLee ,Thanks for your guide.But I still have some question for the demos and tests. I use the command "./build/tools/caffe test -model models/vpgnet-novp/deploy.prototxt -weights models/vpgnet-novp/snapshots/split_iter_82500.caffemodel -iterations 1 >>output.log 2>&1",I want to know how to input a picture and get the cordinate of the lane?Because deploy.prototxt did not indicate the input. C

[2017-12-26 07:24] SeokjuLee commented on #3
@daixiaogang Try net.forward_all(data=np.array(transformed_image)); binary_mask = net.blobs['binary-mask'.data[0];

[2017-12-26 07:37] daixiaogang commented on #3
@SeokjuLee ，it get wrong as the following message.
---------------------------------------------------------message-----------------------------------------------------------
WARNING: Logging before InitGoogleLogging() is written to STDERR
W1226 15:32:11.351035  8293 _caffe.cpp:122] DEPRECATION WARNING - deprecated use of Python interface
W1226 15:32:11.351058  8293 _caffe.cpp:123] Use this instea

[2017-12-26 07:45] SeokjuLee commented on #4
@weitaoatvison It's for the lane clustering (visualization). This enables to subsample peak points from the probability map. Please refer our paper (related section 4.4)

[2017-12-26 07:50] SeokjuLee commented on #3
@daixiaogang Our pycaffe loading lines are almost same as yours. Could you check the pycaffe path? tiling_param is customized caffe parameter.

[2017-12-26 08:40] daixiaogang commented on #3
@SeokjuLee ,thanks for your reminding,I have solved the path problem. But there turns out a new problem: "File "outpt.py", line 30, in <module> binary_mask = net.blobs['binary-mask'].data[0];
KeyError: 'binary-mask'". there does not exisit 'binary-mask' in deploy.prototxt.

[2017-12-26 09:10] SeokjuLee commented on #3
@daixiaogang Please use updated model. The deploy model is updated. "binary-mask" and "multi-label" are softmax output.

[2017-12-26 14:22] daixiaogang commented on #3
@SeokjuLee，can you explain how to visualize the ouput by "binary-mask" and "multi-label" ? I am reading your code (drive_data_layer.cpp and convert_driving_data.cpp),I am wondering are you trying to regression the gridbox(x,y,w,h)like object detetcion?so your output is the bouding box?

[2017-12-26 14:49] SeokjuLee commented on #3
@daixiaogang Could you please refer our paper? We elaborate the post-processing in Section 4.4 :)

[2017-12-27 02:19] weitaoatvison commented on #4
@SeokjuLee Thanks! I will check the paper again!

[2017-12-27 06:11] SeokjuLee opened #5 "About post-processing for lane visualization"
Here is an additional explanation about the lane post-processing. There are four steps basically. First, sampling seed points with the lane heat map from the multi-label task. Then, cluster the seeds in the IPM-ed coordinate with our clustering method (“We sequentially decide the cluster by the pixel distance. After sorting the points by the vertical index, we stack the point in a bin if there is

[2017-12-27 07:57] aquariusnk opened #6 "Could you explain more details about how to run make_lmdb.sh?"
I tried to edit the make_lmdb.sh file as following:
../../build/tools/convert_driving_data /media/aquarius/Backup/VPGNet/caltech-lanes-dataset/cordova1/ /media/aquarius/Backup/VPGNet/caltech-lanes-dataset/cordova1/list.txt LMDB_train
../../build/tools/compute_driving_mean LMDB_train ./driving_mean_train.binaryproto lmd
../../build/tools/convert_driving_data /media/aquarius/Backup/VPGNet/caltech-la

[2017-12-27 08:41] daixiaogang commented on #5
@SeokjuLee ,can you write a demo that use the deploy.prototxt by python?

[2017-12-27 08:49] daixiaogang commented on #6
The backend is lmdb ,the 'b' is absent .
./../build/tools/compute_driving_mean LMDB_train ./driving_mean_train.binaryproto **lmd**

[2017-12-27 10:37] aquariusnk commented on #6
@daixiaogang Thank you for pointing out that mistake, but my problem happens before that line of code so I still get stuck at this step.

[2017-12-27 10:47] daixiaogang commented on #6
the following is my code:
-------------------------------------------------------------------------------------------------------------------------
../../build/tools/convert_driving_data /home/swjtu/daixiaogang/VPGNet/caltech-lanes-dataset train_list.txt LMDB_train
../../build/tools/compute_driving_mean LMDB_train ./driving_mean_train.binaryproto lmdb
../../build/tools/convert_driving_data /home/s

[2017-12-27 11:35] SeokjuLee commented on #5
@daixiaogang Of course subtract mean value. I just extracted mean value (RGB) from the mean.npy and then subtract (transformer.set_mean) it to the input. The multi_label and binary_mask outputs have values between 0~1 because they are softmax outputs.

[2017-12-27 12:46] daixiaogang commented on #5
@SeokjuLee ，did you use the np.subtract(a,b)? when I use it ,it got wrong.

[2017-12-28 02:35] aquariusnk commented on #6
@daixiaogang  now i see the problem. The list file which I downloaded from the Caltech dataset is not the same as your file. Mine is: "cordova1/f00000.png", and there is no location points. Could you give me your list file to test it? Thank you for helping me a lot

[2017-12-28 03:28] daixiaogang commented on #6
@aquariusnk ，how should I give this file to you ？

[2017-12-28 03:40] aquariusnk commented on #6
@daixiaogang Sorry that I forget to give you my email. Could you send your file to this address: tin.duongtrung@gmail.com?

[2017-12-28 05:26] SeokjuLee commented on #5
@daixiaogang Oh just resize the mean array to 480x640. I used transformer.set_mean() for subtraction.
transformer = caffe.io.Transformer({'data': net.blobs['data'].data.shape})
transformer.set_transpose('data', (2,0,1))
transformer.set_mean('data', MEAN) # subtract
transformer.set_raw_scale('data', 255) # [0,255] -> [0,1]
transformer.set_channel_swap('data', (2,1,0)) # RGB -> BGR

[2017-12-28 06:07] daixiaogang commented on #5
@SeokjuLee ,thanks for your patient explaination! I have try to resize the mean ,but it got wrong.

`transformer = caffe.io.Transformer({'data': net.blobs['data'].data.shape})
transformer.set_transpose('data', (2,0,1))
Mean = np.load('./mean.npy')
Mean = Mean.reshape(3,480,640)#wrong
transformer.set_raw_scale('data', 255)
transformer.set_channel_swap('data', (2,1,0)) # RGB -> BGR`

which said:Valu

[2017-12-28 06:11] daixiaogang commented on #6
@aquariusnk ,check your email.

[2017-12-28 08:19] ArtyomKa commented on #4
Hi. Where can I find explanation about the structure of the multi-classification task output. I understand that  _80x60_ part is the input image size divided by 8, but what is the _64_ part?

[2017-12-28 11:07] ln-scau commented on #6
@daixiaogang May I have a issue? the network's output of Multi-label task is 60x80x64, what does the "64"mean? the number of different types? but, in the paper it is 17, and this make me confused.
Hope for your reply!

[2017-12-28 11:47] aquariusnk commented on #6
@daixiaogang thank you so much!!! Your files have solved my problem perfectly!

[2017-12-28 11:57] SeokjuLee commented on #6
@ln-scau The number of channel 64 for the multi-label task includes auxiliary classes. Basically, you can set it as the number of your target classes such as 17.

[2017-12-28 11:59] SeokjuLee commented on #5
@daixiaogang Numpy reshape function doesn't change the size. Try scipy.misc.imresize or PIL's resize functions

[2017-12-28 12:04] SeokjuLee commented on #4
@ArtyomKa That part assigns the number of types. The number of channel 64 for the multi-label task includes auxiliary classes.

[2017-12-28 12:12] ArtyomKa commented on #4
@SeokjuLee Thanks.. In the paper (Table 2) there are only about 20 classes listed. There are additional 44 aux. classes? The first 20 are the ones that are in the table, or am i missing something..

[2017-12-28 12:20] SeokjuLee commented on #4
@ArtyomKa Yes, there is no problem if it is set to be larger than the number of classes to be detected. In my work there are 17 classes, and empty gradient from the rest 47 channels. The remaining 47 (=64-17) classes are regarded as meaningless classes

[2017-12-28 12:36] ArtyomKa commented on #4
@SeokjuLee OK, makes sense! Thank You!

[2017-12-29 03:18] chengm15 commented on #6
@daixiaogang @aquariusnk Hello, I also meet the same problem of make_lmdb.sh. I think my list file might be correct and the line is like
"/cordova1/f00000.png  111  41 297 48 304 1  49 289 56 296 1  49 297 56 304 1  57 289 64 296 1  65 281 72 288 1  65 289 72 296 1  73 281 80 288 1  81 273 88 280 1  81 281 88 288 1  89 273 96 280 1  97 265 104 272 1  97 273 104 280 1  105 265 112 272 1  113 257 12

[2017-12-29 04:39] daixiaogang commented on #6
@chengm15 ,you shuould delete the LMDB_train and LMDB_test dir before you run this bash.

[2017-12-29 06:06] chengm15 commented on #6
@daixiaogang Thanks for response!
I have delete LMDB_train and LMDB_test. Right Now, the code is the following:
**../../build/tools/convert_driving_data /home/chengming/chengming/VPGNet/caltech-lanes-dataset cordova1.txt
../../build/tools/compute_driving_mean ./driving_mean_train.binaryproto lmdb
../../build/tools/convert_driving_data /home/chengming/chengming/VPGNet/caltech-lanes-dataset cordova2

[2017-12-29 06:13] daixiaogang commented on #6
@chengm15 ， you should read the error message when you meet it . There should exsit blankspace between each parameter.Just like:
`../../build/tools/convert_driving_data  /home/chengming/chengming/VPGNet/caltech-lanes-dataset cordova1.txt`

[2017-12-29 06:35] vivounicorn opened #7 "cuDNN compile error: too few arguments to function cudnnSetPooling2dDescriptor"
@SeokjuLee Thanks for sharing this awesome work.
I have run the caffe version on a Tesla M40 GPU，CUDA version 8.0，cuDNN version v5. when compile  it，there is an error：
./include/caffe/util/cudnn.hpp:124:41: error: too few arguments to function ‘cudnnStatus_t cudnnSetPooling2dDescriptor(cudnnPoolingDescriptor_t, cudnnPoolingMode_t, cudnnNanPropagation_t, int, int, int, int, int, int)’pad_h, pad_w,

[2017-12-29 06:51] ln-scau commented on #7
@vivounicorn  Did you use the cudnn？I think you should comment USECUDNN=1 in your makefile.config file.

[2017-12-29 06:58] vivounicorn commented on #7
@ln-scau thank you very much，I know if I comment USE_CUDNN := 1 it will work but i want to use cuDNN for acceleration.

[2017-12-29 07:15] ln-scau commented on #6
@SeokjuLee Thanks very much, your work is awesome!. As you said, can i set  the number of channel 64 to 3? Because in the caltech lanes dataset, the list files generated by 'caltech-lanes-dataset/vpg_annot_v1.m
has only 3 types.

[2017-12-29 07:32] SeokjuLee commented on #6
@ln-scau Yes of course, but make sure the total number of classes is 3+1, which includes the background type.

[2017-12-29 09:25] chengm15 commented on #6
@daixiaogang Thank you very much! I have solved this problem and the problem is that I need to write down the absolute dir of LMDB_train

[2017-12-29 09:53] ln-scau commented on #6
@SeokjuLee If i set the number of classes is 4，should i change the output of Conv7 in Multi-label task from 15x20x1024 to 15x20x64? Or just to change the tiling layer's param form tile_dim: 4  to tile_dim: 16 ?

[2017-12-29 12:09] daixiaogang commented on #7
@vivounicorn ,the author claimed that they did not use cudnn in their code,only GPU.

[2017-12-30 17:29] SeokjuLee commented on #6
@ln-scau Yes good point. you need to tune the depth of the branched Conv layer (the last one, maybe 8th?) when you change the number of types. However the tiling parameter is dependent on the output spatial size (width & height), so you don't need to change it.

[2018-01-02 02:52] vivounicorn commented on #7
@daixiaogang thank you very much. I will implement a version with cuDNN.

[2018-01-02 07:27] #7 closed

[2018-01-02 13:14] chengm15 commented on #4
@SeokjuLee I have a question about the detection of lane. Different from the road marking, the lane is thin and long. According to Figure 3 in your paper, the size of grid box is 120x160x4 and there are 120x160 bound boxes. I want to know whether the bounding box of label cover the entire lane or just cover a part of  entire lane.

[2018-01-02 13:30] SeokjuLee commented on #4
@chengm15 The bounding box of label covers just a part of a lane. By generating grids to train them, we did not have to consider the various scales.

[2018-01-03 02:25] chengm15 commented on #4
@SeokjuLee Thanks for replying me! I have a question about dataset. caltech-lane dataset seems not have label of lane, eg. solid line and dashed line should have different label for recognition but they are same in caltech-lane. The type-loss in output log is used for multi-label recognition but the dataset do not distinguish them. caltech-lane seems not fit your work because it do not have label

[2018-01-03 07:47] daixiaogang commented on #5
@SeokjuLee ,I have do IPM and get the output ,can you give me some advice on how to do DBSCAN using the ouput?

[2018-01-03 12:01] wsyzzz commented on #3
@SeokjuLee Hi, i have a problem with 'run 'train.sh' '. After following the four steps on the home page, i used `sh train.sh` to run 'train.sh'. But it had no response that could tell me how it is going. It was shown as this:
`root@root:~/dl/VPGNet/caffe/models/vpgnet-novp$ sh train.sh`
`|`(Here is a stationary cursor)

I used an NVIDIA GeForce GTX1080 to train it. But i get stuck here. I don't kn

[2018-01-03 14:12] daixiaogang commented on #3
@wsyzzz ，just try to use ./train.sh to run this code.

[2018-01-04 02:01] chengm15 commented on #4
@SeokjuLee Sorry about my poor English.  My question is how to obtain the type loss and type accuracy in output log because caltech-lane dataset do not have label of lane.

[2018-01-04 02:22] wsyzzz commented on #3
@daixiaogang , thanks for your advice. However, it doesn't seem to make a difference. It still gets stuck and has no response. I will wait an hour to see it.

[2018-01-04 09:54] SeokjuLee commented on #5
@daixiaogang Well, I recommend you not to use the original DBSCAN codes because they are slow. The following description is from the original paper, section 4.4. Please refer it.
"We sequentially decide the cluster by the pixel distance. After sorting the points by the vertical index, we stack the point in a bin if there is a close point among the top of the existing bins. Otherwise, we create a n

[2018-01-04 10:04] SeokjuLee commented on #3
@wsyzzz Usually it works by just typing './train.sh' if the script file is set with executable mode. Have you tried to type command lines inside the script? If it doesn't respond, try to run with 'python debug_seokju.py' because we need to see at least one line of the errors.

[2018-01-04 11:52] wsyzzz commented on #3
@SeokjuLee Thanks for your responds. What do you mean by 'type command lines inside the script'? I add an output in the head of train.sh. And it shows that train.sh is executed because it displays my output but still got stuck in `../../build/tools/caffe train --solver=./solver.prototxt >> ./output/output.log 2>&1`. Besides, this process can be found in GPU processes by `nvidia-smi` just like the

[2018-01-04 12:54] aquariusnk commented on #5
Hi, I am new to Caffe and want to deploy the model in C++, not python. At this time I don't know how to get the mean value to subtract in the beginning of the feedforward step. If possible, could you give me your mean.npy file or better an advice the approximate mean value for me can use directly in the code? My email is tin.duongtrung@gmail.com. Thank you.

[2018-01-04 14:03] HuifangZJU commented on #5
Hi, the output channel of Multi-label task is 64, so which one is the lane channel?

[2018-01-05 09:11] ln-scau commented on #5
@daixiaogang  I have trained the network and use the deploy.prototxt to get the output which is 60x80x64. I haven‘t do the post-processing yet, i just  find the maximum probability of the 64 types at each position and then get the category of each position correspondingly. But when I test the trained model with my test_list image(I simply multiply each coordinates by 8),the result performs disappo

[2018-01-05 09:37] ln-scau commented on #6
@SeokjuLee oh yes,the last one,please never mind my carelessness.
In the drive_data_layer.cpp file,there has the following code:

  // handle catalog
  float *ptr = label_type;
  for (int y = 0; y < type_label_height; ++y) {
    for (int x = 0; x < type_label_width; ++x) {
      int id = (int)(box_mask.at<float>(y*type_stride, x*type_stride));
      if (id>=0 && id<itypes.size()) {
        *ptr =

[2018-01-05 11:33] daixiaogang commented on #5
@ln-scau ，I am have not do the post proprcessing. I think we can communicate by medium tools,such as webchat.

[2018-01-05 11:55] daixiaogang commented on #6
@ln-scau ，can you tell me how to handle the ouput? How did you know which channel is lane?

[2018-01-06 08:10] chengm15 commented on #6
@SeokjuLee @daixiaogang I have a question about the output of model. According to Figure 3 in paper, the output of grid box is 120x160x4 and it means that we have 120x160 bound boxes. However, the output of multi-label is 60x80x64 and it means we operate recognition 60x80 times. Thus, the number of bound box is not equal to the number of operating recognition. Does it means that every 4 bounding b

[2018-01-06 09:07] chengm15 commented on #5
@daixiaogang Hi, Have you solve the problem of mean value?
I think the code blew can help.

**MEAN_PROTO_PATH = '/home/chengming/chengming/VPGNet/caffe/models/vpgnet-novp/driving_mean_train.binaryproto'
MEAN_NPY_PATH = '/home/chengming/chengming/VPGNet/caffe/models/vpgnet-novp/mean.npy'

blob = caffe.proto.caffe_pb2.BlobProto()
data = open(MEAN_PROTO_PATH, 'rb' ).read()
blob.ParseFromString(data)

[2018-01-06 09:16] CSUMIT commented on #6
@chengm15
 hi, i have the same problem with you. Here is my make_lmdb.sh file:

../../build/tools/convert_driving_data /home/VPGNet/caltech-lanes-dataset/cordova1 /home/VPGNet/caltech-lanes-dataset/cordova1.txt LMDB_train
../../build/tools/compute_driving_mean LMDB_train ./driving_mean_train.binaryproto lmdb
../../build/tools/convert_driving_data /home/VPGNet/caltech-lanes-dataset/cordova2 /home/V

[2018-01-06 09:33] chengm15 commented on #6
@CSUMIT
Your dir may be wrong and you can try the code blew:

[code]

[2018-01-06 11:24] CSUMIT commented on #6
@chengm15
**Thank you for your reply. I have change the dir like you write, but there almost the same wrong output:**
`E0106 19:06:15.216583 11360 convert_driving_data.cpp:73] argv[1]: /home/VPGNet/caltech-lanes-dataset
E0106 19:06:15.217241 11360 convert_driving_data.cpp:74] argv[2]: /home/VPGNet/caltech-lanes-dataset/cordova1.txt
E0106 19:06:15.217743 11360 convert_driving_data.cpp:145] Total to

[2018-01-06 12:51] chengm15 commented on #6
what is the format of cordova1.txt?
Does it like this?
"/cordova1/f00000.png 111 41 297 48 304 1 49 289 56 296 1 49 297 56 304 1 57 289 64 296 1 65 281 72 288 1 65 289 72 296 1 "

[2018-01-06 14:59] CSUMIT commented on #6
yes,the file is like this:
/cordova1/f00000.png  111  41 297 48 304 1  49 289 56 296 1  49 297 56 304 1  57 289 64 296 1  65 281 72 288 1  65 289 72 296 1  73 281 80 288 1  81 273 88 280 1  81 281 88 288 1  89 273 96 280 1  97 265 104 272 1  97 273 104 280 1  105 265 112 272 1  113 257 120 264 1  113 265 120 272 1  121 257 128 264 1  129 249 136 256 1  129 257 136 264 1  137 249 144 256 1  145 241

[2018-01-07 02:47] chengm15 commented on #6
@CSUMIT please check whether LMDB_train and LMDB_test are produced.
If yes, you can try run train.sh.

[2018-01-07 03:25] CSUMIT commented on #6
@chengm15
**hi, thank you for your reply. I have runned  ./train.sh And there are a output.log file:**
I0107 11:18:38.870939 10178 caffe.cpp:183] Using GPUs 0
F0107 11:18:38.871364 10178 common.cpp:65] **Cannot use GPU in CPU-only Caffe**: check mode.
*** Check failure stack trace: ***
    @     0x7fb5ea3d05cd  google::LogMessage::Fail()
    @     0x7fb5ea3d2433  google::LogMessage::SendToLog()

[2018-01-07 03:38] chengm15 commented on #6
@CSUMIT maybe you install caffe in gpu version?

[2018-01-07 04:23] CSUMIT commented on #6
@chengm15
But the output.log says:
 F0107 11:18:38.871364 10178 common.cpp:65] **Cannot use GPU in CPU-only Caffe**: check mode.
Maybe it means i install caffe in cpu version.
I have done this when i install caffe: For CPU-only Caffe, uncomment CPU_ONLY := 1 in Makefile.config.

[2018-01-07 04:28] CSUMIT commented on #6
@chengm15
What version of caffe  do you use, cpu or gpu? Whether this project can't work in cpu version if i don't  change some code?

[2018-01-07 07:05] chengm15 commented on #6
@CSUMIT I use gpu to run the project

[2018-01-07 09:29] HuifangZJU commented on #4
@SeokjuLee Hi, what are the indexes of the 17 meaningful channels in the 64 channel output of multi-label task? Are they the first 1~17 channels, one to one corresponding to your Table 2? I have output the pobabilies, most grid are belonging to the firs class, so I suppose the first channel should be some background class? or am I wrong?

[2018-01-07 13:53] daixiaogang commented on #5
@chengm15 ,I download the IPM code from this URL:http://blog.csdn.net/yeyang911/article/details/51912322,my QQ
 is 750930459

[2018-01-10 02:07] daixiaogang commented on #2
@SeokjuLee ,What are the news about releasing dataset?

[2018-01-10 07:32] chengm15 commented on #5
@SeokjuLee
Hello, I have implement the training and the following output.log seems have a good accuracy result.
[code]

Thus, I choose the f00280 in cordova2(cordova1, washington1, washington2 are the training data and cordova2 is the test data) to look the result of model. However, the result is very bad
This is the label:
![image](https://user-images.githubusercontent.com/29861998/34760265-000ad

[2018-01-10 12:18] SeokjuLee commented on #5
@chengm15 Hi, I think the main reason is the deficiency of the training dataset, and it looks like the output is not well aligned with the original image.  You need to shift it as below (depending on the offset and output size).
[code]

[2018-01-10 12:22] SeokjuLee commented on #5
@chengm15 Furthermore, the accuracy you checked includes the background pixels, which means that most pixels are background class and this causes a high accuracy.

[2018-01-10 13:51] chengm15 commented on #5
@SeokjuLee
Thanks for replying me!
I modify two places
1. using skimage.transform.resize to resize the driving_mean_train.binaryproto and result is better than before. the following is the result after using skimage.transform.resize. I can see same number of lanes as the label.
![image](https://user-images.githubusercontent.com/29861998/34775730-25146c12-f64f-11e7-8488-c3992aecd1a8.png)

2. Accord

[2018-01-11 06:07] SeokjuLee commented on #5
@chengm15 Good, the reason of the shifting is the padded value. You need to align the output according to the padding operation. In addition, I think the misclassification is because of the data imbalance. The number of dashed line would be larger than the number of single line, which causes the biased misclassification. One solution of this could be making a class weighting as SegNet has done.

[2018-01-11 06:51] daixiaogang commented on #5
@SeokjuLee ,I want train your net by my dataset which have no class information and only the line point. And my image is 1280x1024,can I only change the input size in train_val.protxt?

[2018-01-12 00:27] ddori commented on #3
@SeokjuLee  When I run train.sh, the output.log print

F0112 09:20:56.458614  3586 syncedmem.cpp:58] Check failed: error == cudaSuccess (2 vs. 0)  out of memory
*** Check failure stack trace: ***
    @     0x7fc16fc365cd  google::LogMessage::Fail()
    @     0x7fc16fc38433  google::LogMessage::SendToLog()
    @     0x7fc16fc3615b  google::LogMessage::Flush()
    @     0x7fc16fc38e1e  google::LogMe

[2018-01-12 04:17] SeokjuLee commented on #3
@ddori Hi, I recommend you to use PyCaffe wrapper.  You can easily visualize the outputs following the instruction.
https://github.com/BVLC/caffe/wiki/Using-a-Trained-Network:-Deploy

[2018-01-12 04:19] SeokjuLee commented on #3
@wsyzzz Hi, did you solve the problem?

[2018-01-12 04:29] wsyzzz commented on #3
@SeokjuLee Unfortunately, I repeated several times but failed. Do you any advice? Thx.

[2018-01-12 04:47] ddori commented on #3
@wsyzzz  my problem is so similar to yours. I think you should loose your batch_size. the batch_size is in your solver.prototxt file

[2018-01-12 06:41] wsyzzz commented on #3
@ddori Thanks for your response. Are you sure the batch_size is in the **../caffe/models/vpgnet-novp/solver.prototxt**? My solver.prototxt is like this:
[code]
And I find 'batch_size' in my **train_val.prototxt**. But after resetting the batch_size to 5, I still don't solve the problem.
[code]

[2018-01-12 06:54] ddori commented on #3
@wsyzzz Oh, I have a very big mistakes. Sorry..
Look at the train_val.prototxt and reset the batch_size (1 ~ 5) and try to run  './train.sh' instead of 'debug_seokju.py'

[2018-01-12 07:17] wsyzzz commented on #3
@ddori Never mind. Thank you all the same. I reset the batch_size, but it still get stuck after running './train.sh'. God, I think maybe I should reinstall the OS again!

[2018-01-12 08:26] SeokjuLee commented on #3
@wsyzzz Could you show me the last message in the "./output/output.log"?

[2018-01-12 08:34] wsyzzz commented on #3
@SeokjuLee
[code]

[2018-01-12 08:35] SeokjuLee commented on #3
@wsyzzz Sorry but what was the problem?

[2018-01-12 09:05] wsyzzz commented on #3
That's where I feel strange too. After  running './train.sh', I don't have any errors returned. And debug.py seems normal too. The point is that the program gets stuck and responses nothing. Also, i have to use Ctrl+ Z to break this state.
It was shown as this:
root@root:~/dl/VPGNet/caffe/models/vpgnet-novp$ sh train.sh
|(Here is a stationary cursor)

Or you mean this is normal and I can ignore th

[2018-01-12 09:09] wsyzzz commented on #3
Sorry, I am using my phone to comment. In the former comment I use './ train. sh' instead of 'sh train. sh'. But the result is same.

[2018-01-12 10:05] SeokjuLee commented on #3
@wsyzzz Oh that's extremely normal. ">> ./output/output.log 2>&1" means saving outputs to the log file.

[2018-01-12 10:19] wsyzzz commented on #3
That's great! So next step is how to imply the output to detect objects in a image. I notice that 'run train.sh' is the last step on the homepage. Could you give me some advice about this step? Thx.

[2018-01-12 11:59] chengm15 commented on #5
@SeokjuLee Thanks for your guidance！ Right Now, The result is much better than before.
![image](https://user-images.githubusercontent.com/29861998/34874020-55b569dc-f7d2-11e7-870b-3c268f763ab7.png)
And I want to make sure the process of posting process. Firstly, I implement IPM. Secondly, I operate clustering method. Then, back clustering method to original image. Finally, implement polyfit. Am I

[2018-01-15 06:07] SeokjuLee commented on #5
@daixiaogang I think the easiest way is to make splines as the Caltech dataset and set loss_weight for multi-label task as zero. You don't need to change the input size because the network is fully convolutional.

[2018-01-15 06:10] SeokjuLee commented on #5
@chengm15 Good, yeah that's right.

[2018-01-15 07:02] SeokjuLee commented on #5
@daixiaogang Yes you may need to change the input/converting layer.

[2018-01-15 08:24] chengm15 commented on #5
@SeokjuLee Hi, This is the newest result after post processing but it is far from the result in your video.  But the right line is not correct. Can you give some advice for the result?
![image](https://user-images.githubusercontent.com/29861998/34932482-ea85d5e6-fa0d-11e7-8127-7c69a5564db9.png)
And I have used data augmentation. I flip the image and label. The type accuracy only 95% and can be imp

[2018-01-15 11:14] SeokjuLee commented on #5
@chengm15 How did you sample the seed points?

[2018-01-15 11:18] chengm15 commented on #5
@SeokjuLee  just randomly pick 8 points in the gird.

[2018-01-15 11:22] SeokjuLee commented on #5
@chengm15 In my case, I used 'scipy.signal.fftconvolve' for each row and then extracted local maxima.

[2018-01-15 11:30] chengm15 commented on #5
@SeokjuLee Thanks for replying me. I am still a little confused about the cluster method. Do you only convert seed point into bird view? Then sorting the seed points according to the vertical index. Next, using DBSCAN to cluster the point. Finally, back to the original image and fit the line. Am I right?

[2018-01-15 11:42] SeokjuLee commented on #5
@chengm15 Yes that's right. IPM is only used to separate the seed points near the VP.

[2018-01-15 11:53] chengm15 commented on #5
@SeokjuLee Thanks. Besides, I have a question about the data augmentation. After using data augmentation, the result become much worse than before in which all of gird is recognized by background. Can you share a .caffemodel file? It can be more convenient to follow your work.

[2018-01-15 12:36] SeokjuLee commented on #5
@chengm15 From my experience, most errors are caused by the data layer. Or, that result could be correct because the Caltech dataset is too small. I'm afraid I can't upload the model file because it needs additional permission from Samsung Research :-(

[2018-01-15 12:57] chengm15 commented on #5
@SeokjuLee Okay, Have you train this model without VP in caltech-lane ? Are you prohibitive to share a model without VP in caltech-lane?

[2018-01-15 13:13] chengm15 commented on #5
@SeokjuLee What is the meaning of shifting the heat map along the y-axis? I am a little confused by this operation. Besides, Does scipy.signal.fftconvolve used in bird view or in the original image? And Is my way of producing seed point right?

[2018-01-15 14:54] daixiaogang commented on #5
@SeokjuLee ,I want to know when will you open the dataset. When I use my dataset to train this network ,it can detect nothing .I think this may be caused by my label is not very good which has not enough grid box because the source dataset have only two end point of line which make a short line.

[2018-01-16 03:00] daixiaogang commented on #5
@SeokjuLee ,does the number of grids label a road line affect the training result? Because I find my label's grids number is less than caltech a lot.

[2018-01-17 08:01] daixiaogang commented on #5
@SeokjuLee ，thanks for your guide.I am begining train my data with your net . I want to know what is the meaning of  tiling_width = 9 [default = 20],tiling_height = 10 [default = 15] in DriveDataParameter. Because if I do not set this parameter, it got wrong:Check failed: gymax <= full_label_height (128 vs.160).

[2018-01-18 13:24] daixiaogang commented on #5
@SeokjuLee : the following code is copied from you data_layer.cpp
  const int grid_dim = param.label_resolution();    //seokju, 8
  const int width = param.tiling_width();           //seokju, 20
  const int height = param.tiling_height();         //seokju, 15
  const int full_label_width = width * grid_dim;    //seokju, 160
  const int full_label_height = height * grid_dim;  //seokju, 120
 I want

[2018-01-20 07:30] daixiaogang commented on #5
@SeokjuLee ，As your paper said, the resolution of your image is 1288x728, but the network input is 640x480. I wonder how did you change the convertdrivingdata.cpp( the original resize_weight and resize_height  is 640+32and 480+32), have you change the resize-weight and resize_height? In the train_val.protxt , what does the scale parameter mean?As we use the caltech dataset,the scale is 1,which the

[2018-01-22 06:35] SeokjuLee commented on #5
@daixiaogang We just resize the image to 640x480 in the data pre-processing. The number of 32 is the padded offset. The parameters I changed are declared in the prototxt file, the drive_data_param structure. The scale parameter is for the rescaling pixel intensity, which deosn't need to be tuned in your case.

[2018-01-23 04:27] llmettyll commented on #2
Hi, I tested VPGNet toy example with Caltech lane DB using your caffe project.
And I checked that validation accuracy is around 98.9 % after default solver setting when I divided the dataset into train_set(8) and val_set(2) with shuffled list.
However, the Caltech DB doesn't have 'bb-label', 'pixel-label', 'size-label', and 'norm-label' information, which you used in 'train_val.prototxt'. So, I am

[2018-01-23 09:54] vivounicorn opened #8 "Some questions about lane post-processing"
@SeokjuLee hi，In section 4.4 of this paper，how to understand the process of point sampling：“First, we subsample local peaks from the region where the probability of lane channels from the multi-label task is high.”，such as：
1、how to find "the region"?  in one of the categories's feature map (60×80) or in original image (640×480)？
2、how to understand the peaks？what does its horizontal and vertical

[2018-01-24 03:46] chengm15 commented on #5
@SeokjuLee According to your description : “In my case, I used 'scipy.signal.fftconvolve' for each row and then extracted local maxima”.
I look up the information in https://docs.scipy.org/doc/scipy-0.19.1/reference/generated/scipy.signal.fftconvolve.html
**scipy.signal.fftconvolve(in1, in2, mode='full')**
the input of scipy.signal.fftconvolve is in1 , in2 and mode. What are these 3 parameters res

[2018-01-24 06:42] SeokjuLee commented on #2
@llmettyll Hi, the drive-data-layer handles every label. If you see the network diagram (train_val.png), you could follow the splitted outputs (type, data, and label). Therefore to generate those information, only the list file is needed.

[2018-01-24 06:59] SeokjuLee commented on #8
Hi, here is a visualized description. First, you can align the image and prob map. In my case, I rescaled prob map to the size of the original image. The second plot is a three-dimensional visualization of the z-axis with probability values. Finally you can extract the local extrema from each vertical index. In this step, you can choose any filtering algorithm (fft, watershed, etc..).
![lane_subsa

[2018-01-24 07:18] SeokjuLee commented on #5
@chengm15 I have an additional explanation about the subsampling with a visualization. Please refer this issue.  [https://github.com/SeokjuLee/VPGNet/issues/8](url)

[2018-01-24 07:42] chengm15 commented on #8
@SeokjuLee I have questions below about these pics.
(1) probability map comes from the result that rescale the output of multi-label 8x.
(2) the 3rd pic looks like the result that we choose the local maximum value in every row as the seed point
Am I right?

[2018-01-24 10:47] SeokjuLee commented on #8
@chengm15 Yes, that's correct.

[2018-01-24 11:13] vivounicorn commented on #8
@SeokjuLee thank you very much.

[2018-01-24 11:53] chengm15 commented on #8
@SeokjuLee Can you share more detail about the local filter? How to find the local maximum value? Thanks

[2018-01-24 17:08] daixiaogang commented on #8
@SeokjuLee ，As you said ，we can sample points from prob map。 How about the classify?

[2018-01-25 03:30] UcanSee opened #9 "caffemodel for VPGNet"
I have trained a caffemodel from your tutorial, but the test result is bad.  I think it is because of little dataset. Could you please tell me where I can download the lane and road marking benchmark which consists of about 20,000 images or give me the caffemodel described in your paper? Thank you very much!

[2018-01-25 05:52] SeokjuLee commented on #9
Hi, the dataset and model are preserved by Samsung Electronics. Please contact Tae-Hee Lee (th810.lee@samsung.com), Hyun Seok Hong (hyunseok76.hong@samsung.com), and Seung-Hoon Han (luoes.han@samsung.com). Thanks!

[2018-01-25 05:54] SeokjuLee commented on #8
@chengm15 Here is an [example](https://stackoverflow.com/questions/25571260/scipy-signal-find-peaks-cwt-not-finding-the-peaks-accurately) how to use fftconvolve.

[2018-01-25 05:56] SeokjuLee commented on #8
@daixiaogang Just same as the prob map, for each channel of the multi-label output.

[2018-01-25 05:57] #1 closed

[2018-01-26 04:40] vivounicorn commented on #8
hi @SeokjuLee ，the probability of lane channels 1th from the multi-label task looks like so strange，is there some thing wrong with it? （the channels 2~5 is ok.）
![image](https://user-images.githubusercontent.com/3362154/35425444-d2450dea-0295-11e8-963d-b7d0f2763380.png)

[2018-01-26 05:04] SeokjuLee commented on #8
@vivounicorn The first channel represents the background class.

[2018-01-26 07:28] vivounicorn commented on #8
@SeokjuLee oh oh  thank you very much!

[2018-01-26 08:04] daixiaogang commented on #8
@vivounicorn ，how do you get these results? use matlab?

[2018-01-26 10:58] vivounicorn commented on #8
@daixiaogang use python with Axes3D.

[2018-01-26 14:32] daixiaogang commented on #3
@SeokjuLee ,I am now reading your code . I found something strange in your code.
`const float scaling = static_cast<float>(full_label_width) / param.cropped_width(); //seokju, 1 = 160/160`
but the param.cropped_width() which in caffe.proto is:
`optional uint32 cropped_width = 8 [default = 640];`
Can you explain?

[2018-01-27 10:53] chengm15 commented on #8
@SeokjuLee
I have a question about when I operate recognition? The pic below is the result of multi-label without post processing. We can see the detection of recognition is right but the recognition of the middle line has some wrong points. The first question is whether the posting processing can filter the wrong points or convert them into right points? If yes, how to operate that? According to

[2018-01-31 02:39] chengm15 commented on #8
@SeokjuLee Thanks for your patient answer. You mean we need to choose seed point and operate cluster in the binary-mask output??? The result of image is the result of multi-label.
So the specific process of posting process are
(1) choose seed points according to binary-mask output by operating fftconvolve() in every row
(2) convert binary-mask output and the seed points on them into IPM.
(3) opera

[2018-02-01 13:07] chengm15 commented on #8
@SeokjuLee Thank you so much! Besides, can you share some detail or code about inverse perspective mapping? I think it is nearly to reproduce your work.

[2018-03-06 08:12] aisichonzi007 commented on #3
@daixiaogang @SeokjuLee  hello,how to use models to test my test-data?

[2018-03-06 08:25] aisichonzi007 commented on #3
@daixiaogang  could you give me a email? i want to discuss this model  in chinese,because my english is so poor!

[2018-03-09 12:39] billyzju commented on #5
@chengm15 Could you please just share your post processing codes? Many thanks!

[2018-03-19 08:12] chowkamlee81 opened #10 "How to validate the model using C++ code or python code?"
I have trained VPGNet, but i don't know how to validate the codel by visualizing outputs. Do you smaple code to work on each image and visualize lane detection output? Kindly shared the code if you have.

[2018-03-26 09:45] ranjithrajasimha opened #11 "Pretrained model for Testing and Transfer Learning"
Hi,

Can you share a pretrained model, please?

[2018-03-27 07:14] SeokjuLee commented on #11
@ranjithrajasimha Please send me an email

[2018-03-27 09:15] ranjithrajasimha commented on #11
@SeokjuLee  Thank you so much for the reply. I have mailed you.

[2018-03-27 09:48] #11 closed

[2018-03-28 03:27] daixiaogang opened #12 "How to"

[2018-04-03 08:53] ranjithrajasimha opened #13 "Training error"
Hi,
 I'm getting the below error while I try to train the model. I checked in internet, the sources say that it can happen because of multiple cuda versions. I delete other cudas and tried, the issue still persists. Can you please help me get through this?

F0402 17:15:39.522164 20718 math_functions.cu:422] Check failed: status == CURAND_STATUS_SUCCESS (201 vs. 0)  CURAND_STATUS_LAUNCH_FAILURE
***

[2018-04-04 05:15] wishinger-li opened #14 "difference from the standard caffe"
Is the caffe used in this project different from the standard caffe?(do your add some special layers?)
can i replace the caffe in this project with the newest caffe?

[2018-04-04 05:59] SeokjuLee commented on #12
@daixiaogang We set 'R=20' to equal to the average value of approximately half of the lane thickness (paper section 5.4).

[2018-04-04 06:02] SeokjuLee commented on #14
@wishinger-li There are cusomized layers such as data layer and tiling layer.

[2018-04-04 06:10] daixiaogang commented on #12
@SeokjuLee ,Thanks for your reply . And I wonder I to calculate the center of the grid,as it is important to the FP? In my code, I  use the (xmin+4,ymin+4) as the center and use the euclidean metric to calculate the distance between predict and GT,am I right?

[2018-04-05 05:56] SeokjuLee commented on #12
@daixiaogang What is the FP? With the grid size of 8, the center position you defined is right.

[2018-04-08 07:24] SkyeHatesCoding commented on #12
FP means False Positive,commonly called a "false alarm". It is more like that there is no such an object and somehow it has been detected as an object. For example, there's no car in the road and the output tells you that there's a car.

[2018-04-08 08:17] SkyeHatesCoding opened #15 "Hi,I wonder if there's a well-trained model to run as a demo"
@SeokjuLee
My equipment configuration does not allow me to train a model and I'm very new to computer vision and deep-learning things. I will be very appreciate if there's a well-trained model available. Not mean to be lazy ^-^

[2018-04-09 06:14] SeokjuLee commented on #15
@SkyeHatesCoding Could you send me an email with your name and organization?

[2018-04-10 01:51] SkyeHatesCoding commented on #15
@SeokjuLee
My Email address : guoyan8833@163.com
And I'm a college student(major in Computer Science) from Xiamen University, China

Thank you very much!

[2018-04-10 05:43] #15 closed

[2018-04-11 13:45] daixiaogang commented on #12
@SeokjuLee ，can you release your evaluate code on caltech lanes detection?

[2018-04-14 12:23] hellooctopus opened #16 "How to visualize test results?"
Hello,I have finished train and test. Here is a output.log of test.How can I visualize test results without post-process.

[2018-04-18 13:29] SkyeHatesCoding opened #17 "Use my own dataset"
@SeokjuLee

How can I use my own dataset ? My dataset is some pictures with polygon labels (pixel-level , store in .json with the polygon's coordinates value ). I tried to figure out how you deal with the original pictures with labels, but I ... emmmm, I'm still confused with your implement of DriveData ...

So can I use my own data in a simple way ?

Thx a lot ~

[2018-04-19 05:39] hexiangquan commented on #14
upsampling  layer i have added  .i will release it

[2018-04-23 12:39] daixiaogang commented on #14
@hexiangquan ，have you release it？

[2018-04-24 10:09] gexahedron commented on #2
Could you send me your dataset, please, if it's possible? My email - ulyanick@gmail.com
Thanks!

[2018-04-26 08:31] aisichonzi007 commented on #2
@SeokjuLee  hello， how to open the  .ccvl file

[2018-05-07 02:38] weisili2016 opened #18 "some questions about "convert_driving_data.cpp ""
@SeokjuLee
  VPGNet/caffe/tools/convert_driving_data.cpp
[line 115]
  int resize_height = std::max<int>(0, FLAGS_resize_height);   ///480+32=512
 int resize_width = std::max<int>(0, FLAGS_resize_width);       ///640+32=672

  original  images are  resized to  672*512, should coordinates of lines  be  reseized also??

[line 96]
           lines.push_back(std::make_pair(filename, boxes));

[2018-05-08 06:52] SeokjuLee commented on #18
@weisili2016 It is padding parameter. You don't need to resize the labels.

[2018-05-08 06:57] SeokjuLee commented on #16
@hellooctopus Hi, you can visualize the result of prediction as follows.
https://github.com/BVLC/caffe/wiki/Using-a-Trained-Network:-Deploy

[2018-05-11 06:00] JingjingFeng1 opened #19 "The diffenrence between Lane and RoadＭａｒｋｉｎｇ　ｄｅｔｅｃｔｉｏｎ"
I have trained the net two times with similar data which has two different type labels .One of the two type is Lane,conclude broken yellow, broken white and so on.Another type is about roadmarking,conclude straight arrow,right arrow and so on.But the test results were so strange.The lane detection result was good,such as pic 1.But the detection of roadmarking was  beyond my expectation，ａlmost noth

[2018-05-12 06:58] zhangguangyuan0001 commented on #19
Hello,jingjing! How long does it take for you to run train.sh, I have been running  one day and night.  It's not over yet. Is it a card?
(testcaffe) zbj@apollo-PC3:~/ZGY/testVPGNet/VPGNet/caffe/models/vpgnet-novp$ bash train.sh

Runtime does not prompt any information, but a blank.

[2018-05-14 02:21] Endless-Hao opened #20 "How to test ？"
I want to  know  how to test it? I just finish the train.Thanks.

[2018-05-14 16:56] chalot commented on #6
@daixiaogang meet the same issue  too. could you please send me another copy of train_list.txt and test_list.txt? my email is zhengdgao@163.com, Thanks a lot!

[2018-05-20 01:19] chalot commented on #6
@chenyiman see and run vpg_annot_v1.m, then you'll get ***.list as required.

[2018-05-24 07:39] aisichonzi007 commented on #19
@JingjingFeng1 can you  add your QQ  or WeChat，i am doing something for roadmark too, my QQ and wechat is 283061054,thank you

[2018-05-25 08:37] wysang opened #21 "What is the "build" in the make_lmdb.sh file"
Hi, I want to run the make_lmdb.sh file, but I got the following errors:
make_lmdb.sh: line 3: ../../build/tools/convert_driving_data: No such file or directory
make_lmdb.sh: line 4: ../../build/tools/compute_driving_mean: No such file or directory
make_lmdb.sh: line 6: ../../build/tools/convert_driving_data: No such file or directory

I checked the directories and find out that there is no folder

[2018-06-08 06:19] cardwing commented on #3
@Lapin-Lam , you should not use cudnn in compiling caffe. In other words, you should not uncomment
`# USE_CUDNN := 1` in Makefile.config.

[2018-06-08 07:15] fanqi1996 opened #22 "error"
hello, @SeokjuLee ,when trying to bash make_lmdb.sh,it always reminds me of such mistakes. What should I do to solve them?
compute_driving_mean.cpp:58] Check failed: mdb_env_open(mdb_env, argv[1], 0x20000, 0664) == 0 (2 vs. 0) mdb_env_open failed

[2018-06-08 08:14] fanqi1996 commented on #6
@chengm15 I try your code like this:

../../build/tools/convert_driving_data /home/VPGNet-master/caltech-lanes-dataset /home/VPGNet-master/caltech-lanes-dataset/cordova1.txt LMDB_train
../../build/tools/compute_driving_mean LMDB_train ./driving_mean_train.binaryproto lmdb
../../build/tools/convert_driving_data /home/VPGNet-master/caltech-lanes-dataset /home/VPGNet-master/caltech-lanes-dataset/cord

[2018-06-10 08:45] cardwing commented on #6
@fanqi1996 , maybe you need to specify the absolute path of LMDB_train and LMDB_test.

[2018-06-10 08:46] cardwing commented on #6
Just like the following:
`../../build/tools/convert_driving_data /home/cardwing/Downloads/VPGNet-master/caltech-lanes-dataset /home/cardwing/Downloads/VPGNet-master/caltech-lanes-dataset/cordova1.txt /home/cardwing/Downloads/VPGNet-master/caffe/models/vpgnet-novp/LMDB_train
../../build/tools/compute_driving_mean /home/cardwing/Downloads/VPGNet-master/caffe/models/vpgnet-novp/LMDB_train ./driving_m

[2018-06-10 12:12] cardwing opened #23 "Common problems when running the VPGNet code: Just a reminder!!!"
Several days ago, I reproduced the result of VPGNet and I put some frequently met installation problems here to facilitate other researchers:

1. Compile caffe:
If you use anaconda python, please uncomment the corresponding lines in Makefile.config (Line 55 ~ 58) and DO NOT uncomment Line 5 (# USE_CUDNN := 1) since current version of VPGNet does not use cudnn.

2. Run make_lmdb.sh:
If you meet pro

[2018-06-10 12:12] #23 closed

[2018-06-10 12:16] cardwing commented on #22
@fanqi1996 , I have responded to your problem in Issue 6 (Could you explain more details about how to run make_lmdb.sh?, https://github.com/SeokjuLee/VPGNet/issues/6). Please have a look. If you still have problems, please attach your complete error message here.

[2018-06-12 08:29] cuicuizhang1989 opened #24 "the VP part problem"
as the paper said. can the first task VPP be provide?

[2018-06-18 06:15] ranjithrajasimha commented on #13
looks like it is cuda issue.

[2018-06-18 06:15] #13 closed

[2018-06-22 16:14] IAmNotMahd commented on #3
@cardwing hey! I have been working on this for a while now. How do you display the output? In other words, what am I supposed to do after the last step (run "train.sh"). Thanks!

[2018-07-24 06:20] #20 closed

[2018-07-26 02:31] Frandre commented on #24
I am also interested in the VP part. However, I did not find it predicted in deploy.prototxt. I wish I was wrong here.

[2018-07-26 09:39] SeokjuLee commented on #24
@cuicuizhang1989 @Frandre You can simply add the VP branch to deploy.prototxt as follows.
[code]

[2018-07-26 09:50] SeokjuLee commented on #24
@cuicuizhang1989 @Frandre FYI, the python code to localize the VP is as below.

[code]

[2018-07-26 09:52] #22 closed

[2018-07-27 03:59] lchia opened #25 "error: no matching function for call to ‘max(float, double)’"
src/caffe/layers/contrastive_loss_layer.cpp: In instantiation of ‘void caffe::ContrastiveLossLayer<Dtype>::Forward_cpu(const std::vector<caffe::Blob<Dtype>*>&, const std::vector<caffe::Blob<Dtype>*>&) [with Dtype = float]’:
src/caffe/layers/contrastive_loss_layer.cpp:118:1:   required from here
src/caffe/layers/contrastive_loss_layer.cpp:56:30: error: no matching function for call to ‘max(float, d

[2018-07-27 04:00] lchia commented on #25
Solution:
------------
vim src/caffe/layers/contrastive_loss_layer.cpp
:%s/max/max<Dtype>/g
-------------
DONE.

[2018-07-27 04:00] #25 closed

[2018-07-31 01:01] ArayCHN commented on #6
@cardwing Hi I encountered the same problem as @fanqi1996 did. The error message is:
(after running ./make_lmdb.sh)
'''
E0730 17:49:56.138350 86589 convert_driving_data.cpp:73] argv[1]: home/simteam/VPGNet/caltech-lanes-dataset/cordova1
E0730 17:49:56.138882 86589 convert_driving_data.cpp:74] argv[2]: home/simteam/VPGNet/caltech-lanes-dataset/cordova1.txt
E0730 17:49:56.673770 86589 convert_drivin

[2018-07-31 12:31] shanmugaraj1986 commented on #5
@SeokjuLee and @chengm15, I trained VPGNet model using caltech dataset, I dont know how to do post processing, I need your assitance to get the post processing output. Thanks

[2018-07-31 15:34] ArayCHN commented on #6
okay turns out I dropped the "/" sign before "home", making absolute path a relative path. And now it looks fine.

[2018-08-01 00:41] ArayCHN opened #26 "Cannot create Cublas handle. Cublas won't be available."
I was able to run make_lmdb.sh with cuda8, however, this shell gives me this error when running with cuda 9:
[code]
I'm not sure if this is the problem of cuda version, or something else.
This error alone does not prevent the shell from running, but it makes train.sh aborted:
[code]

Any thoughts?
Thank you!

[2018-08-01 02:53] MiaoDX commented on #21
Hei, the `build` is what you got when you actually build caffe as in the README `3. Caffe compliation`, please follow the instructions step by step :)

And it should be not so easy to build caffe on windows (no matter you are in the git bash or not), please consider trying on ubuntu or you can search the instructions online (and maybe the author use win, according to the `path = 'F:\caltech-lanes'

[2018-08-01 17:57] ArayCHN commented on #26
This is a problem resulted from conflicted cuda version or some problems of cuda. I would suggest anyone has this problem reinstall cuda 8.0(9.0 will not work!) and also reboot their machine to make sure NVIDIA works fine.

[2018-08-01 17:57] #26 closed

[2018-08-02 02:11] MiaoDX commented on #8
@chengm15 Hi, stuck in the post-processing, will you open-source your implement? It seems like that it is not trivial to reproduce your impl even with the provided pipeline. And it will surely saves tons of time for lots people!!

[2018-08-02 08:36] moonmyth opened #27 "test program"
which program can be use to test picture

[2018-08-03 13:21] #27 closed

[2018-08-06 01:15] moonmyth commented on #3
hello,i have a problem in training vpgnet,the loss of bbox is high while the accurancy is 95%,can anyone have idea that what's cause the phenomenon
like blew:
I0804 03:12:02.197446  6967 solver.cpp:414]     Test net output #0: bb-loss = 1.17429 (* 1 = 1.17429 loss)
I0804 03:12:02.197453  6967 solver.cpp:414]     Test net output #1: pixel-acc = 0.967028
I0804 03:12:02.197458  6967 solver.cpp:414]

[2018-08-15 09:26] AromaticJ opened #28 "How to know which channel of 64 multi-labels is the lane channel?"
How can I find each label name of 64 multi-labels?

[2018-08-16 07:39] SeokjuLee commented on #28
It is based on the ground truth file you defined. If you set lane_id as 1, the corresponding channel of the multi-label output would be 1.

[2018-08-20 09:36] AromaticJ opened #29 "Nothing detected even though trained and deployed according to your Baseline Usage step by step completely."
Hi, SeokjuLee
Thanks for your remarkable work.
I download your code from here and implemented training and deploying according to your Baseline Usage step by step completely.
I Compiled your caffe successfully on my ubuntu16.04.
I used all of your Caltech Lanes Dataset for training.
And of course no any change of your training and deploying prototxt and any other files in VPGnet.

But the 64X60X80

[2018-08-20 11:56] AromaticJ commented on #29
Is it indispensable to train the vp part at first?
I just trained as your Baseline Usage, no vp part.

[2018-08-20 14:32] #29 closed

[2018-09-08 15:21] nightheronry opened #30 "About the pre-trained model"
Hi  @SeokjuLee ,
Thanks you for your amazing works.

Would you mind releasing the model for caltech-lane dataset or your dataset ?
I would like to use it as pre-trained model in my personal side-project. Please~ :)

[2018-09-11 13:40] #30 closed

[2018-09-18 08:29] xinping12345678 commented on #2
hello, Did you get the data set? If you get the dataset, I would be very grateful if you could send it to me.

[2018-09-18 08:31] xinping12345678 commented on #2
My email is: 17822008896@163.com

[2018-09-18 08:33] xinping12345678 commented on #2
My email is: 1156419123a@gmail.com

[2018-09-18 08:34] xinping12345678 commented on #2
My email is: 1156419123a@gmail.com

[2018-09-18 08:35] xinping12345678 commented on #2
My email is: 1156419123a@gmail.com

[2018-09-20 11:03] AromaticJ opened #31 "Change output shape"
In the data layer, layer output is list as below:
data -> data     32 3 480 640 (29491200)
data -> label    32 8 120 160 (4915200)
data -> type     32 1 60 80 (153600)

I know the shape of "type" is depended on "catalog_resolution"
But I can't find out where shape of "label" is depended.
If I want to change the output shape of binary-mask, I should change shape of "label" firstly, how can I change

[2018-09-26 01:59] AromaticJ commented on #24
@SeokjuLee Hi, as you have provided the VP branch deploy.prototxt, can you also provide VP branch train.prototxt ?

[2018-11-05 18:35] ansuman87 commented on #8
@SeokjuLee @chengm15
Hi guys,

I have a few doubts regarding IPM. First, I want to confirm that the reason for performing IPM is to cluster the points near the vanishing point in the right lane group. So, the accuracy of IPM is not of utmost importance as the IPM is converted back to the the original perspective after the lane points are sorted in the right group. I ask because for IPM, most algor

[2018-11-20 06:55] derekwong66 commented on #8
Hi @SeokjuLee ,
Can you explain more about how to vote the class type for each cluster? Thanks!

[2018-11-22 12:13] OrkunYilmaz commented on #5
Dear @chengm15 and @daixiaogang would you mind sharing your post-processing codes? I am working on a thesis and would much appreciate your help!

[2018-11-30 05:46] cardwing opened #32 "Tensorflow version of SCNN is available now (lane detection)"
I have implemented SCNN using Tensorflow and put the full codes [here](https://github.com/cardwing/Codes-for-Lane-Detection). You can test the code in popular lane detection benchmarks like TuSimple, CULane and BDD100K or your custom dataset with minor modification. Welcome to raising issues if you have problems in reproducing the results. My code is based on [LaneNet](https://github.com/MaybeShew

[2018-12-06 09:19] chenchaohui commented on #32
hello，buddy
    Did you achieve the VPGNet？I want to make friends with you using Wechat

[2018-12-07 03:19] chenchaohui opened #33 "@SeokjuLee"
Hi, SeokjuLee,  Recently, I am also doing some job about lane and road mask detection and reconnition. I am  so amazing about your job about it.  Now I have a question to ask you for some help. How do you annotate you trainning data set ?   what you steps are?

[2018-12-07 04:36] cardwing commented on #32
@chenchaohui, I have not implemented VPGNet since their dataset has not been released. And you can directly list your questions in [my repo](https://github.com/cardwing/Codes-for-Lane-Detection) and I will respond to you ASAP. ^_^

[2018-12-07 09:51] chenchaohui commented on #33
Hi，SeokjuLee,  I don't kown how to annotate my own picture data using grid cell method. Is there any tools, steps? can you help me. thank you very much.

[2018-12-11 07:46] chenchaohui opened #34 "@SeokjuLee"

[2018-12-11 07:50] chenchaohui commented on #34
Hi, SeokjuLee.
     In your paper, we can know the lane is annotated  by spline and then convert it into grid cell. How about Zebra line,stopline and others,How to annotate items?

[2018-12-14 07:44] chenchaohui commented on #2
Hi, SeokjuLee, from your paper,we can know the lane is first annotated with spline ,then convert it into grid cell annotation use a matlab script you provided. But how  should we annotate the zebra line,stop line and arrows on the surface of the road. Waiting for your help.

[2018-12-19 14:10] yurenwei commented on #2
Excuse me, I want to ask about the labeling format of your dataset. This means that I want to use your network, how do I label the data set.

[2018-12-21 11:57] OrkunYilmaz opened #35 "How to visualize output of multi-label"
Hello everyone.

I would like to know how I can visualize the output of the multi-label with an example image like it is done here:

https://github.com/SeokjuLee/VPGNet/issues/8#issuecomment-360976797

![35471300-769bf2b6-0393-11e8-9a23-433c9d55e217](https://user-images.githubusercontent.com/26686384/50341620-b9275b00-051f-11e9-9c61-80a1adc81859.png)

[2018-12-26 14:03] yurenwei commented on #5
@chengm15 I trained VPGNet model using caltech dataset, I dont know how to do post processing, I need your assitance to get the post processing output. Thanks

[2018-12-26 14:07] yurenwei commented on #5
@daixiaogang I trained VPGNet model using caltech dataset, I dont know how to do post processing, I need your assitance to get the post processing output. would you mind sharing your post-processing codes? My email is yurenwei2014@163.com.Thanks.

[2019-01-09 09:31] leicao-me commented on #2
Dear Authors,

Is there any update on releasing your dataset, please? Thank you

[2019-01-09 12:49] quasae opened #36 "facing a problem when make all"
CXX/LD -o .build_release/tools/compute_image_mean.bin
.build_release/lib/libcaffe.so: undefined reference to `void caffe::hdf5_load_nd_dataset<double>(int, char const*, int, int, caffe::Blob<double>*)'
.build_release/lib/libcaffe.so: undefined reference to `void caffe::hdf5_load_nd_dataset<float>(int, char const*, int, int, caffe::Blob<float>*)'
.build_release/lib/libcaffe.so: undefined reference

[2019-01-21 07:01] lunana123 opened #37 "face a problem when caffe compile"
![image](https://user-images.githubusercontent.com/41152300/51457726-6d213d80-1d8d-11e9-9144-6adf9ebd124f.png)

I would like to know which version of cudnn you are using???

![Uploading image.png…]()

[2019-01-21 07:04] lunana123 commented on #37
![image](https://user-images.githubusercontent.com/41152300/51457809-c4271280-1d8d-11e9-87fe-08cc206d13c9.png)

[2019-01-22 06:03] Pae-Panumate opened #38 "Request for a license"
Hi @SeokjuLee

Thanks you for your wonderful works.

Would you mind posting a license? (such as apache-license-2.0) I would like to use your code in my work.

Thank you very much.

[2019-01-23 18:05] karanbehar commented on #5
Were you able to figure out the post processing and visualization with VPGNet? I am trying to test the network on an unlabeled bad weather data. However I have still not figured out, how to perform testing with the images.

Kindly advise.

With best regards,

Karan

[2019-01-25 07:43] SeokjuLee commented on #38
Thank you. I posted a license.

[2019-01-25 07:43] #38 closed

[2019-02-14 04:09] Lakshaysharma048 commented on #25
Hi,

I am also stuck at this point and unable to understand the above solution.

can you please elaborate or attach a picture to it.

Thanks.

[2019-02-15 21:31] Lakshaysharma048 commented on #36
Hi @quasae ,

were you able to figure out the solution for the above problem.

[2019-02-21 21:40] Lakshaysharma048 commented on #19
Hi @zhangguangyuan0001 ,

i am unable to resolve compute mean error.cpp error and protobuf error.

can you please specify your system configuration where you made the code run

Thanks.

[2019-03-13 12:04] screamdw commented on #14
Did you successfully compile with this caffe? Why do I always fail to compile,
the error like that:
./include/caffe/layers/pooling_layer.hpp:54:3: error: ‘PoolingParameter_RoundMode’ does not name a type
   PoolingParameter_RoundMode round_mode_;
   ^
Makefile:524: recipe for target '.build_release/src/caffe/layers/cudnn_pooling_layer.o' failed
make: *** [.build_release/src/caffe/layers/cudnn_pool

[2019-03-13 13:26] SeokjuLee commented on #37
In my case, both versions 7.5 and 8.0 were working.

[2019-03-13 13:26] #37 closed

[2019-03-13 13:27] SeokjuLee commented on #14
@screamdw Did you uncomment # USE_CUDNN := 1 in Makefile.config?

[2019-03-14 03:37] screamdw commented on #19
@JingjingFeng1 @SeokjuLee @zhangguangyuan0001
I have successfully run make_lmdb.sh. but when I run train.sh , there was something wrong like this:
➜  vpgnet-novp: bash train.sh
train.sh: 行 1:  2389 段错误               (核心已转储) ../../build/tools/caffe train --solver=./solver.prototxt >> ./output/output.log 2>&1
Who can give me some solutions?  Thank you very much

[2019-03-14 07:48] screamdw commented on #14
@SeokjuLee can you help me?
I've compiled it successfully,and the make_lmdb.sh runs successfully.but when I run train.sh ,There were some errors：
➜  vpgnet-novp bash train.sh
train.sh: 行 1:  6452 段错误               (核心已转储) ../../build/tools/caffe train --solver=./solver.prototxt >> ./output/output.log 2>&1
The contents of this file(output.log) are as follows:
I0314 15:42:40.633046  6452 caffe.cpp:1

[2019-04-05 06:47] zguo008 commented on #35
use the fft method under that issue to get the local maxima line by line. connect local maxima in same cluster to get lane.

[2019-04-05 06:56] zguo008 opened #40 "IPM corner points"
Hi seokju,

I have similar problem like the picture below
![visual](https://user-images.githubusercontent.com/44756093/55608964-277fe880-57b2-11e9-8d2e-57d476e775ff.png)
Even though I tried SCNN but I believe the postprocessing step is similar.
below is my result
![hw_curve55_result](https://user-images.githubusercontent.com/44756093/55609048-5ac27780-57b2-11e9-8c98-c0af16421d71.jpg)
the model con

[2019-04-30 07:29] CountofMont commented on #2
Could you send me your dataset, please, if it's possible? My email -----lytao2013@gmail.com
Thank you very much!

[2019-04-30 08:12] CountofMont commented on #2
Could you send me your dataset, please, if it's possible? My email ----- lytao2013@gmail.com
Thank you very much!

[2019-05-12 07:39] hjp845 commented on #6
@daixiaogang It's been a year and a half, My file is "cordova1/f00000.png". There is no location points... could you please send me your list file? I really really really appreciate it.  My email is wjdvud123456@gmail.com, Thank you!!

[2019-05-13 05:16] cardwing commented on #6
I recommend other lane detection models, i.e., [LaneNet](https://github.com/MaybeShewill-CV/lanenet-lane-detection), [SCNN-Tensorflow](https://github.com/cardwing/Codes-for-Lane-Detection) and [SCNN-Torch](https://github.com/XingangPan/SCNN).

[2019-05-13 09:58] hjp845 commented on #6
Thank you so much for sending mail !!My other team is building SCNN-Touch.My teams is building vpg-net.Is there any reason to recommend a model like SCNN-Touch rather than vpg-net?

	---------- 원본 메일 ----------
	보낸사람: "HOU Yuenan" <notifications@github.com>
	받는사람: "SeokjuLee/VPGNet" <VPGNet@noreply.github.com>

	참조: "Hwang Jung Pyeong" <tlfgql@dgist.ac.kr>, "Comment" <comment@noreply.github.com>

[2019-05-13 14:35] cardwing commented on #6
SCNN has a message passing module which works extremely well in long-continuous object detection like lane detection. However, since message passing module accounts for around 30% of the total feedforward time, it is not ideal to select SCNN if you want real-time lane detection. In this condition, I recommend our light-weight model, i.e., ENet-Label, which uses ENet as the backbone and the overall

[2019-06-05 02:18] ryan1051 commented on #6
@ArayCHN Hi I meet the same problem like yours.
`bash make_lmdb.sh
E0605 10:11:28.018514  9723 convert_driving_data.cpp:73] argv[1]: /home/ruwei/LaneDetection/VPGNet/caltech-lanes-dataset/cordova1
E0605 10:11:28.018903  9723 convert_driving_data.cpp:74] argv[2]: cordova1.txt
E0605 10:11:28.555956  9723 convert_driving_data.cpp:145] Total to be processed: 0.
F0605 10:11:28.615943  9728 compute_driv

[2019-06-05 02:22] ryan1051 commented on #6
@ArayCHN
The folder LMDB_train and LMDB_test have been created ,but no driving_mean_train.binaryproto.

[2019-06-06 07:00] ryan1051 commented on #12
@daixiaogang  Hi, I trained a model. Now I want to test a image with the model, can you show me how to evaluate it?

[2019-06-06 07:04] ryan1051 commented on #10
@chowkamlee81  Hi, I meet the same problem with you. Can me give me some advice?

[2019-06-10 08:18] ryan1051 opened #41 "Nobody cares this project?"

[2019-06-18 06:47] chenchaohui commented on #3
Hi,I Also met this question ,can you tell me how to solve it?

[2019-06-18 08:31] chenchaohui commented on #32
[libprotobuf ERROR google/protobuf/text_format.cc:274] Error parsing text-format caffe.NetParameter: 456:16: Message type "caffe.LayerParameter" has no field named "tiling_param".
F0618 12:00:19.106469 6733 upgrade_proto.cpp:90] Check failed: ReadProtoFromTextFile(param_file, param) Failed to parse NetParameter file: /home/cch/VPGNet_for_lane/caffe/models/vpgnet-novp/deploy.prototxt
*** Check fail

[2019-07-17 11:06] cardwing opened #42 "ENet-Label-Torch is available now (lane detection)"
Our **ENet-Label-Torch** has been released. More details can be found in [my repo](https://github.com/cardwing/Codes-for-Lane-Detection).

Key features:

(1) ENet-label is a **light-weight** lane detection model based on [ENet](https://arxiv.org/abs/1606.02147) and adopts **self attention distillation** (more details can be found in our paper which will be published soon).

(2) It has **20** × few

[2019-07-23 20:16] danieladea opened #43 "Test code on other data sets"
Hi,

I'm a little confused since most of the files are solely about caffe. Is there a way to test the vpgnet on an image or video from other data sets (kitti, culane, etc)? If so, which script would I run, with the image/video as a file input?

[2019-07-31 02:30] andeyeluguo opened #44 "the dataset and pre-trained model"
does somebody have get the dataset and pretrained model ?

[2019-07-31 02:30] #44 closed

[2019-07-31 02:37] andeyeluguo commented on #11
does you get the dataset?

[2019-08-02 06:46] ycdhqzhiai commented on #14
@screamdw same problem, did you solve the problem?

[2019-08-28 02:43] cheerss commented on #36
Compiler cannot find library hdf5, you should add the path of hdf5 to library path, for example:

![image](https://user-images.githubusercontent.com/15375071/63821733-ab648800-c980-11e9-8329-0e024a6533e6.png)

[2019-09-10 09:00] devyash17 commented on #3
Hi @daixiaogang , I also got the same error message. Were you able to solve it? Thanks.

[2019-09-24 10:08] jiang4869 commented on #3
Hello, when I downloaded the code from GitHub and compiled and tested the caffe, I encountered the following problems when running the train.sh file:

I0924 18:00:51.584237 31829 solver.cpp:102] Creating training net from net file:. /train_val.prototxt

[libprotobuf ERROR google/protobuf/text_format.cc:274] Error parsing Text-format caffe.NetParameter: 15:20: Message type "caffe.Layer Parameter" h

[2019-09-27 01:57] chenchaohui commented on #3
Hi, Please confirm whether you have set the environment  variable of  caffe you complied.

------------------ 原始邮件 ------------------
发件人: "jiang4869"<notifications@github.com>;
发送时间: 2019年9月24日(星期二) 晚上6:08
收件人: "SeokjuLee/VPGNet"<VPGNet@noreply.github.com>;
抄送: "抑扬人"<1433692592@qq.com>;"Comment"<comment@noreply.github.com>;
主题: Re: [SeokjuLee/VPGNet] Code issues (#3)

Hello, when I downloaded the

[2019-09-27 05:45] devyash17 commented on #3
Hi @jiang4869 , try this
 `sudo vim ~/.bashrc`
then add pycaffe to the PYTHONPATH by adding this line -
`export PYTHONPATH=/path/to/VPGNet/caffe/python:$PYTHONPATH`

[2019-10-07 18:55] ginazxy commented on #29
Hi there @AromaticJ, I'm getting the same result where all background cells are 1. Did you solve the problem by any chance?

[2019-10-22 13:31] ginazxy opened #45 "A good value for test result"
Hi @SeokjuLee,

I have been using VPGNet to do some lane detection on our own dataset. For the test loss, we are getting around 3.5. I'm just curious what would be a good number for the test loss?

Thanks!

[2019-11-01 03:34] peterlee909 commented on #14
@SeokjuLee @screamdw  @ycdhqzhiai
same problem.

[2019-11-04 02:57] peterlee909 commented on #33
@SeokjuLee @chenchaohui
same issue. Hope for help. Thanks.
How to label our own dataset?

[2019-11-06 02:38] shutdownup opened #46 "about multi label grid box and object mask some problem"
The output size of multi label is 60 * 80, but the output size of grid box and object mask is 120 * 180. Can you explain the reason for this setting and how to generate grid box and object box through 8 * 8 grid? Thank you again for your work!

[2019-11-08 07:31] peterlee909 commented on #8
@chengm15
Hello, I was wondering if you could show us how to visualize the result with the multi-label.
I don't even know how to get the classes of the lane.
Thank you very much if you can help!

[2019-11-13 02:55] earlysleepearlyup opened #47 "Make runtest failed on Ubuntu 16.04 and CUDA 10.0"
### Issue summary
Make runtest failed on Ubuntu 16.04 and CUDA 10.0

### Steps to reproduce
make clean
make all -j16
make test -j16
make runtest

### Tried solutions
modify the makefile.config
[code]

### System configuration

* Operating system: Ubuntu 16.04
* Compiler: GNU make 4.2
* CUDA version (if applicable): CUDA 10.0
* CUDNN version (if applicable): CUDNN 7.6.2
* BLAS: ATLAS
* Python versi

[2020-03-04 02:26] hakillha commented on #2
Hi could anyone send me the access to the dataset? My email is hakillha@outlook.com. Rly appreciate it if someone could share the data!

[2020-03-04 06:42] aisichonzi007 commented on #2
Sorry ，my dataset is our team

张冲   雄安产业研究院智慧城市研发一部

手机：13810291502

邮箱：zhangchong@chinamobile.com

发件人: Yingge Sun [mailto:notifications@github.com]
发送时间: 2020年3月4日 10:27
收件人: SeokjuLee/VPGNet
抄送: aisichonzi007; Comment
主题: Re: [SeokjuLee/VPGNet] DataSet (#2)

Hi could anyone send me the access to the dataset? My email is hakillha@outlook.com <mailto:hakillha@outlook.com> . Rly appreciate it if s

[2020-03-20 07:44] SeokjuLee commented on #44
Hi, the dataset is now available.
Please fill out a [form](http://forms.gle/LNCPUgEu4B7XGjLZA) for a download link.

[2020-03-20 07:46] SeokjuLee commented on #2
Hi, the dataset is now available.
Please fill out a [form](http://forms.gle/LNCPUgEu4B7XGjLZA) for the download link.

[2020-03-20 07:48] SeokjuLee opened #49 "Dataset is now available!"
Our VPGNet dataset is now available.
Please fill out a [form](http://forms.gle/LNCPUgEu4B7XGjLZA) for the download link.
Thanks.

[2020-03-20 08:24] #2 closed

[2020-03-20 08:36] SeokjuLee opened #50 "Dataset"
VPGNet dataset is available.
Please fill out a [form](http://forms.gle/LNCPUgEu4B7XGjLZA) for the download link, and check the README.
Thanks.

[2020-03-25 12:59] eeyrw commented on #50
![image](https://user-images.githubusercontent.com/2088817/77538634-fe80c800-6eda-11ea-86c2-d0f7f6baec75.png)
The survey keep my e-mail out and this e-mail is with the affiliation domain of my university.

[2020-03-25 20:33] SeokjuLee commented on #50
@eeyrw I modified the form. Could you please try it again?

[2020-03-26 11:40] eeyrw commented on #50
@SeokjuLee It works now. Thank you.

[2020-04-08 11:52] eeyrw commented on #50
I wrote some simple code for walking through the dataset and other popular datasets:
https://github.com/eeyrw/LaneDatasetInspector

[2020-04-13 06:09] chenkangning commented on #50
I found some bad data, like this.
![G@`Y D4)` 4`VNN$EW({HG](https://user-images.githubusercontent.com/43132407/79096494-eb517180-7d8f-11ea-989a-faa1a09f1da8.jpg)

![6GONVIK3FQ49G23F$DQ3SA9](https://user-images.githubusercontent.com/43132407/79096500-f2787f80-7d8f-11ea-8bcb-f275516283b6.jpg)

This is bad data list, in
scene_01/20160503_1544_52
scene_01/20160503_1545_14
scene_01/20160503_1548_16
sce

[2020-04-14 04:02] SeokjuLee commented on #50
@eeyrw Thanks! It looks very cool.

[2020-04-14 04:11] SeokjuLee commented on #50
@chenkangning Thanks for the issue. We reinspected the entire images and confirmed that only the six sub-scenes were wrongly annotated. Our dataset has been updated to exclude them from the dataset.

[2020-04-14 08:08] SeokjuLee commented on #34
@chenchaohui Hi, VPGNet dataset is now available. Please fill out a [form](http://forms.gle/LNCPUgEu4B7XGjLZA) for the download link, and check the README. You can see the annotations. Thanks.

[2020-04-14 08:08] #34 closed

[2020-05-30 23:04] Momilijaz96 commented on #28
But there are a total of 17 classes in your case, then why did you guys used 64 channeled output with softmax loss in first place?

[2020-05-31 10:44] Momilijaz96 commented on #46
@shutdownup u got any clues to proceed with issue u mentioned?

[2020-08-18 17:55] MohsinTariq10 opened #53 "Bounding Box Regression task not learning, it has constant loss"
I am implementing VPGNET in keras. Task 2,3,4 are classification tasks, so they are learning and inferring okay. But grid box regression task isn't learning. It has a constant loss. I am using linear activation function on the last layer and using Mean Absolute error L1 loss function for bounding box regression task as per paper. I am not normalising any bounding box coordinates, so their range is

[2020-09-29 11:07] ldtuanAPCS opened #54 "Training on VPGNet dataset."
Dear authors,
#1 Can you show me how to perform training on your VPGNet dataset?
I don't know how to generate the dataset_list file of your VPGNet dataset in order to run the make_lmbd.sh

#2 The Caltech Lanes dataset seems to be removed from the official website. Can you share a snapshot of the dataset.

Thank you very much

[2020-11-08 05:25] calvin-valtz opened #55 "Make error : src/caffe/util/io.cpp:73:34: error: ‘CV_LOAD_IMAGE_HDR’ was not declared in this scope"
Hi everyone
I want to try to redo SeokjuLee's VPGNet Project. I try to compile the caffe and i failed. But when i try to compile caffe from https://github.com/BVLC/caffe.git i found no problem and success. I figure the problem is because some modification in SeokjuLee's Caffe. there are some variables that are not declared so the compiling is failed. the content of some file also different from BV

[2020-11-08 08:27] dyh commented on #55
try this: https://github.com/akashgokul/294_FinalProj

pytorch.

[2020-11-10 12:36] calvin-valtz commented on #55
thx for your response @dyh but it still doesnt resolve my problem.
i'm sorry i didnt specify the error that i got last time. here's what i got
![image](https://user-images.githubusercontent.com/73580908/98674289-2f8b0b80-238b-11eb-8338-cedc8ccbf8ad.png)
pls check https://docs.google.com/document/d/1c4xhWJZuQ3xnPvefRbQTwnFR-Vpyw7A8M9_CUEguX3g/edit?usp=sharing for error message.
this is what i got a

[2020-11-13 16:54] calvin-valtz commented on #6
@daixiaogang @chengm15 @CSUMIT Hi! i met the same issues. my .txt files contain no local point. could you send your txt files? my email is stevanus.calvin07@gmail.com. Thank you!

[2020-11-17 11:18] #55 closed, assigned to nobody

[2020-12-08 04:23] doem97 commented on #9
@SeokjuLee Hi Dr. SeojkuLee, can you specify what is the data format with VP information in it?

e.g.
for no-VP, file list data format is like
`VPGdata/000001.mat  3 536 184 544 192 15  544 184 552 192 15  552 184 560 192 15 ...`
which is
`"filename, label_grid_num, x1a, y1a, x1b, y1b, label_1, x2a, y2a, x2b, label_2, ... xna, yna, xnb, ynb, label_n"`
You combine road_marking and lane label inform

[2020-12-08 04:34] doem97 commented on #9
Or could you please show me any instance? only one sample image's label file is good.

[2021-01-06 22:26] yezhengli-Mr9 commented on #26
Any tutorial to switch to CPU-only caffe?`caffe.set_mode_cpu()` seems not enough. I am studying [another problem](https://github.com/airsplay/lxmert/issues/89) anyway.

[2021-01-21 10:57] hirotomusiker commented on #50
@SeokjuLee thank you for making the dataset available.
Could you let us know how to split each scene into train and test as shown in the Table 1 of the VPGNet paper?

[2021-02-23 07:22] sandeepnmenon commented on #54
I downloaded the caltech dataset from
http://www.mohamedaly.info/datasets/caltech-lanes with this link
https://drive.google.com/file/d/1WoodNzCVxoTrcYlCfuF2cpCrVQZcf10M/view

Hope it helps

[2021-02-23 07:23] sandeepnmenon commented on #43
+1
Any update on this?

[2021-02-23 07:30] sandeepnmenon commented on #9
@doem97 Were you able to obtain the instance and the trained model?

[2021-02-24 15:12] sandeepnmenon opened #56 "Inference scripts using pretrained model"
As per readme, there are steps for training on caltech and VPGNet Dataset.
Are there any scripts/steps written to run inference on a dataset using trained model.

[2021-02-25 14:24] sandeepnmenon commented on #54
@SeokjuLee
+1 on how to perform training on the VPGNet dataset. It is very well annotated and the lane classes are very detailed. Would love to see its applications.
Please share training steps using the caffe model.

[2021-03-04 02:38] clannadcl commented on #50
I have filled the form.
Generally, how long can I receive a reply?
Thanks.

[2021-03-04 08:54] SeokjuLee commented on #50
@clannadcl It is an automatic reply service. I checked the mailing service, and there is one invalid request yesterday. Could you please try another email address?

[2021-03-04 12:38] clannadcl commented on #50
I filled the form again.
![1614858555565](https://user-images.githubusercontent.com/43955209/109965217-a167d600-7d29-11eb-9a35-95f5027025a7.jpg)

[2021-03-04 12:55] SeokjuLee commented on #50
@clannadcl
It seems to have already been sent. Could you please check the spam box?

![image](https://user-images.githubusercontent.com/17178662/109966775-fad50280-7d33-11eb-88a2-6ff4eacd9dab.png)

[2021-03-05 02:08] clannadcl commented on #50
Thanks very much!

[2021-04-07 13:38] sandeepnmenon commented on #8
+1
There are 18 classes in the VPGNet dataset but the model outputs 64 channels.
From this discussion I see that the first channel is the background channel. How are the 18 labels mapped to the 64 channels of the model?

[2021-04-08 10:16] SeokjuLee commented on #8
@sandeepnmenon Sorry for the confusion. The number of output channels, 64, was designed to include additional classes.
You can set the number of your target classes such as 17.

[2021-04-09 15:14] sandeepnmenon commented on #5
+1
Need help with the post processing code. If that could be shared it will be really helpful
My email is menonsandu@gmail.com

[2021-04-19 03:24] anns12 opened #57 "Could you provide me how you split training set and testing set in your dataset like Table 1"
<img width="667" alt="Screen Shot 2021-04-19 at 04 54 49" src="https://user-images.githubusercontent.com/76802127/115177514-98746d80-a0f9-11eb-92d6-9019458eb51e.png">

[2021-06-03 03:01] canteen-man commented on #54
+1 about the detail of training the VP module.I think the VP module is a main innovations of this paper.

[2021-08-08 11:16] software-ai-life opened #58 "Could you provide the camera parameters?"
Thanks for providing the dataset.
But, I have a few questions, how can I extract the mat file to get the jpg or jpeg image?
Besides, could you please provide the camera intrinsic and extrinsic parameters?
If so, it's really helpful for my research.
Thank you very much!

[2021-08-09 06:30] zy199676 opened #59 "the loss of vp"
Could you tell me how to calculate the loss of vp ？What method is better?

[2021-11-08 08:55] gdwang08 commented on #50
Hi, I did not receive any e-mail after filling in the survery form. Could you check it again? Thanks.

[2021-11-15 08:30] sakethbachu commented on #57
@anns12 Did you get how did they split the dataset?

[2022-03-31 03:31] hzc5095 commented on #44
hello，where can i download pretrained model? thank you .

[2022-10-10 07:22] richardkuo1999 opened #60 "no image"
I downloaded your data set, but there are no image in it.